[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
djangorestframework = "*"
black = "*"
pytest-env = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
